@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b><i>Welcome To Salon</i></b></h1>

    <div class="img"><img src="~/image/salon2.jpg" width="100%" hight="100%" /></div>
</div>
